---
import RacesList from '../components/RacesList.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div slot="left" class="text-white">
		Gravel
	</div>
	<div slot="right">
		<RacesList />
	</div>
</Layout>
