---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<main class="flex flex-col-reverse md:flex-row">
			<!-- Left Container -->
			<div class="w-full h-[50vh] md:fixed md:w-1/2 md:h-screen bg-black p-4">
				<slot name="left" />
			</div>
			
			<!-- Right Container -->
			<div class="w-full h-[50vh] md:w-1/2 md:min-h-screen md:ml-[50%] p-4">
				<slot name="right" />
			</div>
		</main>
	</body>
</html>
